{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">
  <table width="100%">
    <thead>
      <tr>
        <th>Professor(a)</th>
        <th>Atendimento</th>
        <th>Ação</th>
      </tr>
      <tbody>
        {% for teacher in teachers %}          
          <tr>
            <td>
              <span style="background-image: url({{teacher.avatar_url}})"></span>
              {{teacher.name}}
            </td>
            <td>{{teacher.materia}}</td>
            <td><a href="/teachers/{{teacher.id}}">Ver</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </thead>
  </table>
</div>
  
{% endblock content %}