{% extends "layout.njk" %}

{% block content %}

<div class="card">
  <section class="avatar" style="background: url({{ teacher.avatar_url }}) no-repeat center center / cover"></section>
  <section class="details">

    <h3>Detalhes</h3>

    <div class="item">
      <div>Professor(a)</div>
      <div>{{ teacher.name }}</div>
    </div>

    <div class="item">
      <div>Idade</div>
      <div>{{ teacher.age }}</div>
    </div>

    <div class="item">
      <div>Nível Educação</div>
      <div>{{ teacher.nivel_educacao }}</div>
    </div>

    <div class="item">
      <div>Tipo de Aula</div>
      <div>{{ "Presencial" if teacher.tipo_aula == "presencial" else "À distância" }}</div>
    </div>

    <div class="item">
      <div>Matérias</div>
      <div>
        {% for materia in teacher.materia %}          
          <span>{{ materia }}</span>
        {% endfor %}
      </div>
    </div>

    <div class="item">
      <div>Desde</div>
      <div>{{ teacher.created_at }}</div>
    </div>

    <a href="/teachers/{{ teacher.id }}/edit" class="button">Editar</a>

  </section>
</div>
  
{% endblock content %}