{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Sobre</title>        
{% endblock %}

{% block content %}

    <main>

        <div class="about_content">
            <h1 class="content_title">
                Sobre o Foodfy
            </h1>
            <p class="about_text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in nisi sem. Ut purus nulla, sodales quis placerat posuere, ornare ut magna. Cras mollis augue in turpis tempus, id consectetur arcu vulputate. Etiam luctus volutpat diam ut luctus. Morbi sapien lectus, viverra ut massa eu, ullamcorper consectetur mi. Donec pretium iaculis arcu ullamcorper cursus. Integer quis efficitur sem. Proin at feugiat velit. Aenean facilisis et leo eget scelerisque
            </p>
            <h1 class="content_title">
                Como tudo começou...
            </h1>
            <p class="about_text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in nisi sem. Ut purus nulla, sodales quis placerat posuere, ornare ut magna. Cras mollis augue in turpis tempus, id consectetur arcu vulputate. Etiam luctus volutpat diam ut luctus. Morbi sapien lectus, viverra ut massa eu, ullamcorper consectetur mi. Donec pretium iaculis arcu ullamcorper cursus. Integer quis efficitur sem. Proin at feugiat velit. Aenean facilisis et leo eget scelerisque
            </p>
            <h1 class="content_title">
                Nossas receitas
            </h1>
            <p class="about_text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in nisi sem. Ut purus nulla, sodales quis placerat posuere, ornare ut magna. Cras mollis augue in turpis tempus, id consectetur arcu vulputate. Etiam luctus volutpat diam ut luctus. Morbi sapien lectus, viverra ut massa eu, ullamcorper consectetur mi. Donec pretium iaculis arcu ullamcorper cursus. Integer quis efficitur sem. Proin at feugiat velit. Aenean facilisis et leo eget scelerisque
            </p>
        </div>
        
     </main>
    
{% endblock %}

    