@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --color-dark-yellow: #ffcc63;
  --color-light-yellow: #ffdb91;
  --color-dark-purple: #34325e;
  --color-light-purple: #9290ac;
  --color-light-gray: #d3d4d9;
  --color-background-body: #ecedf0;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-background-body);
  background-image: url('assets/book-lover.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: 650px;
}

header {
  background-color: var(--color-dark-purple);
  width: 100%;
  padding: 32px;
  text-align: center;
}

/* main img {
  height: 55vh;
  width: 100vw;
  margin-top: 160px;
  margin-bottom: 0;
} */

.links {
  font-size: 22px;
}

.links a + a {
  margin-left: 32px;
}

.links a {
  text-decoration: none;
  color: var(--color-light-gray);
  position: relative;
}

.links a.active {
  font-weight: 600;
  color: var(--color-dark-yellow);
}

.links a::after {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  background-color: var(--color-dark-yellow);
  left: 0;
  bottom: -4px;
}

.links a:hover::after {
  width: 100%;
  transition: width 200ms ease-in-out;
}

/*===CARD===*/

.card {
  background-color: var(--color-light-gray);
  width: 800px;
  height: 400px;
  margin: 45px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.5);
  animation: up 400ms ease-out;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
  }
}