{% extends "layout.njk" %}

{% block content %}

    <section>
        <div class="banner">
            <div class="banner_text">
                <h1 class="banner_title">As melhores receitas</h1>
                <p class="banner_subtitle">Aprenda a construir os melhores pratos <br> com receitas criadas por profissionais  <br> do mundo inteiro.</p>
            </div>
            <div class="banner_img">
                <img src="chef-cinza-escuro.png" alt="Chef">
            </div>
        </div>
    </section>
    <main class="recipes_content">
        <div>
            <h1 class="content_title"> Conheça nossas receitas </h1>
        </div>
        <div class="most_accessed_content">
            {% for item in items %}
                <div class="quick_recipes" id="{{item.id}}">
                    <img src="{{item.image}}" alt="{{item.title}}" class="image_recipes">
                    <p class="recipes_title">{{item.title}}</p>
                    <p class="recipes_author">por {{item.author}}</p>
                </div>
            {% endfor %}
        </div>
    </main>
    
{% endblock %}