{% extends "layout.njk" %}

{% block head %} 
    <title>Rocketseat Sobre - Sobre</title>
{% endblock %}

{% block content %}

    <div class="content">
        <img src="https://rocketseat.gallerycdn.vsassets.io/extensions/rocketseat/rocketseatreactnative/3.0.1/1588456740326/Microsoft.VisualStudio.Services.Icons.Default" alt="logoRocket">
        <h1>Rocketseat</h1>
        <p>
            A Rocketseat nasceu em maio de 2017 quando três programadores, Cleiton Souza, Diego Fernandes e Robson Marques, uniram suas paixões por compartilhar conhecimento.
            <br>
            <br>
            Sabendo que o mundo da programação é extremamente complexo por conta do grande volume de ferramentas existentes e da velocidade com que as coisas evoluem, a Rocketseat decidiu combinar a eficiência dos bootcamps presenciais com a flexibilidade dos cursos online, potencializando os resultados dos estudantes de acordo com os desafios existentes no mercado
        </p>
    </div>
    
    <div class="lista">
        <ul>
            <h3>A Rocketseat trabalha com as melhores tecnologias!</h3>                
            <li>Javascript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Node.js</li>
            <li>React</li>
        </ul>
    </div>

    <footer>
        <div class="redes">
            <a href="https://github.com/Rocketseat" target="_blank"><img src="https://image.flaticon.com/icons/svg/733/733553.svg" alt=""></a>
            <a href="https://www.instagram.com/rocketseat_oficial/?hl=pt-br" target="_blank"><img src="https://image.flaticon.com/icons/svg/2111/2111463.svg" alt=""></a>
            <a href="https://pt-br.facebook.com/rocketseat/" target="_blank"><img src="https://image.flaticon.com/icons/svg/2111/2111398.svg" alt=""></a>
        </div>
    </footer>

{% endblock %}