{% extends "layout.njk" %}

{% block content %}

<form class="card" method="POST" action="/teachers">
    <section class="avatar" style="border-radius: 20px 0px 0px 20px; background: url(https://source.unsplash.com/collection/895539/800x800) no-repeat center center"></section>

    <section class="details">

        <h3>New Teacher</h3>

        <div class="item">
            <div>Avatar URL</div>
            <div>
                <input 
                    type="url" 
                    name="avatar_url"
                    placeholder="http://"
                >
            </div>
        </div>
        
        <div class="item">
            <div>Teacher</div>
            <div>
                <input 
                    type="text"
                    name="name"
                    placeholder="Teachers Name"
                >
            </div>
        </div>

        <div class="item">
            <div>Date of Birth</div>
            <div>
                <input 
                    type="date" 
                    name="birth"
                >
            </div>
        </div>

        <div class="item">
            <div>Educational Level</div>
            <div>
                <select name="selector">
                    <option value="grau1" select>High School</option>
                    <option value="grau2">University Education</option>
                    <option value="grau3">Masters Degree</option>
                    <option value="grau4">Doctorate Degree</option>
                </select>
            </div>
        </div>

        <div class="item">
            <div>Class</div>
            <div>
                <span><input type="radio" name="class" value="E" checked>E-learning</span>
                <span><input type="radio" name="class" value="P">Presential Class</span>
            </div>
        </div>

        <div class="item">
            <div>Lessons</div>
            <div>
                <input 
                    type="text" 
                    name="lessons"
                    placeholder="separate the lessons by commas"
                >
            </div>
        </div>

        <button type="submit">Save</button>

    </section>
</form>
    
{% endblock %}