{% extends "layout.njk" %}

{% block content %}

<div class="card">
    <section class="avatar" style="border-radius: 20px 0px 0px 20px; background: url(https://source.unsplash.com/collection/895539/600x600) no-repeat center center"></section>

    <section class="details">

        <h3>Details</h3>

        <div class="item">
            <div>Teacher</div>
            <div>Larissa Alves</div>
        </div>

        <div class="item">
            <div>Age</div>
            <div>37</div>
        </div>

        <div class="item">
            <div>Educational Level</div>
            <div>Master's Degree</div>
        </div>

        <div class="item">
            <div>Class Type</div>
            <div>E-Learning</div>
        </div>

        <div class="item">
            <div>Follow Up</div>
            <div>
                <span>Javascript</span>
                <span>HTML | CSS</span>
            </div>
        </div>

        <div class="item">
            <div>Since</div>
            <div>19/11/2017</div>
        </div>

    </section>
</div>
    
{% endblock %}