@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color-dark-header: #011936;
    --color-two: #465362;
    --color-three: #82A3A1;
    --color-four: #92b670;
    --color-five: #C0DFA1;
    --color-background: #cad2c5;
    --color-fonts: #777;
    --color-active: #3db48e;
}
*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #eee;
    background-image: url(./assets/school-flat-girl.svg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 1150px;
    background-position: center 16vh;
}
header{
    background-color: var(--color-dark-header);
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}
.links{
    font-size: 22px;
}
.links a + a{
    margin-left: 32px;
}
.links a{
    text-decoration: none;
    color: var(--color-background);
    position: relative;
}
.links a.active{
    font-weight: bold;
    color: var(--color-active);
}
.links a::after{
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    background-color: var(--color-active);
    left: 0;
    bottom: -5px;
}
.links a:hover::after{
    width: 100%;
    transition: width 200ms ease-in-out;
}

/*===CARD===*/
.card{
    background-color: var(--color-dark-header);
    width: 800px;
    min-height: 400px;
    margin: 95px auto;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 40% 60%;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.8);
    animation: up 300ms ease-out;
}
@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}
.card:hover{
    border: solid 2px var(--color-active);
    transition: 200ms ease-in-out;
}

/*===DETAILS===*/
.details{
    color: var(--color-background);
    padding: 32px;
}
.details .item{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 16px 0;
}
.details .item:last-child{
    border: none;
}
.details h3,
.details .item div:nth-child(1){
    color: var(--color-active);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    font-weight: normal;
}
.details .item div:nth-child(2){
    font-weight: bold;
    font-size: 18px;
}
.details h3{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-active);
}
.details .item span{
    padding: 8px 16px;
    background-color: var(--color-active);
    color: rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

/*===FORM===*/
.card-form{
    background-color: var(--color-dark-header);
    width: 800px;
    min-height: 400px;
    margin: 40px auto;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 40% 60%;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.8);
    animation: up 300ms ease-out;
}
.card-form:hover{
    border: solid 2px var(--color-active);
    transition: 200ms ease-in-out;
}
input{
    width: 100%;
    outline-color: var(--color-active);
    padding: 7px;
    border-radius: 8px;
    color: #555;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
input[type="radio"]{
    width: initial;
    margin-right: 5px;
}
input::placeholder{
    font-size: 16px;
    font-weight: normal;
    color: var(--color-dark-header);
}
select{
    padding: 7px;
    outline-color: var(--color-active);
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
button[type="submit"]{
    margin-top: 32px;
    padding: 8px 32px;
    text-align: center;
    background-color: var(--color-active);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    cursor: pointer;
}
button[type="submit"]:hover{
    border: 1px solid white;
}