<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon" />

    {% block head %}
     <title>Rocketseat</title>
    {% endblock %}

    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header class="header">
            <a href="https://rocketseat.com.br" target="_blank"><img src="https://camo.githubusercontent.com/e3a00cb35e63ebc807f3d6c3178e1f17c24a70f3/68747470733a2f2f726f636b6574736561742e636f6d2e62722f7374617469632f6f672e706e67" alt=""></a>
            <nav>
                <ul class="menu">
                    <li><a href="/">Sobre</a></li>
                    <li><a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Comunidade</a></li>
                    <li><a href="mailto:oi@rocketseat.com.br">Email</a></li>
                    <li><a href="tel:+5547992078767">Telefone</a></li>
                    <li><a href="/courses">Bootcamp</a></li>
                </ul>
            </nav>
    </header>

    {% block content %}{% endblock %}
    
</body>

</html>