{% extends "layout.njk" %}

{% block content %}

<div class="card">
  <section class="avatar" style="background: url({{ student.avatar_url }}) no-repeat center center / cover"></section>
  <section class="details">

    <h3>Detalhes</h3>

    <div class="item">
      <div>Nome</div>
      <div>{{ student.name }}</div>
    </div>

    <div class="item">
      <div>Email</div>
      <div>{{ student.email }}</div>
    </div>

    <div class="item">
      <div>Idade</div>
      <div>{{ student.age }} anos</div>
    </div>

    <div class="item">
      <div>Escolaridade</div>
      <div>{{ student.ano_escolar }}</div>
    </div>

    <div class="item">
      <div>Carga Horária Semanal</div>
      <div>{{ student.carga_horaria }} hs</div>
    </div>

    <a href="/students/{{ student.id }}/edit" class="button">Editar</a>

  </section>
</div>
  
{% endblock content %}