<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    {% block head %}

    <title>School Manager</title>
    
    {% endblock %}

    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <header>

        <div class="links">        
            <a href="/" class="active">Professores</a>
            <a href="/students">Estudantes</a>
        </div>

    </header>

    <main>
        <img src="./assets/book-lover.svg" alt="book-lover">
    </main>

    {% block content %}{% endblock %}

</body>
</html>